apiVersion: batch/v1
kind: CronJob
metadata:
  name: cronjob
  labels:
    app: cronjob
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: cronjob
        spec:
          restartPolicy: Never
          containers:
            - name: busybox
              image: busybox
              command: ["sh","-c","echo hello from cornJob && sleep 10"]
          
