apiVersion: v1
kind: Pod
metadata:
  name: nginxpod
  labels:
    app: nginx
spec:
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginxcont
          image: nginx
