apiVersion: app/v1
kind: Deploy
metadata:
  name: Deploypod
  labels:
    app: nginx
spec:
  replicas: 3
  selectors:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
  spec:
    containers:
      - name: nginxcont
        image: nginx
  
