apiVersion: apps/v1
kind: Deploy
metadata:
  name: deploypod
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginxcont
          image: nginx
  
