apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: ReplicaSetPod
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      conatiners:
        - name: nginxcontainer
          image: nginx
        
      
