apiVersion: v1
kind: ReplicaSet
metadata:
  name: ReplicaSetPod
  labels:
    app: nginx
spec:
  replicas: 3
  selectors:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
  spec:
    conatiners:
      - name: nginxcontainer
        image: nginx
        
      
